@font-face {
    font-family: titles;
    src: url(../mainResources/fonts/Montserrat-LightItalic.ttf);
}

* {
    font-family: titles;
}

body {
    display: flex;
    justify-content: center;
}

main {
    width: 300px;
    overflow: hidden;
}

#slider {
    width: 1000px;
    display: flex;
    transition: transform 0.3s ease;
}

#layer1,
#layer2,
#layer3,
#layer4 {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

#layer2 {
    left: 200px;
}


#layer3 {
    left: 1100px;
}


#layer4 {
    left: 1500px;
}

img {
    margin: 5px;
}