body {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: texts;
    src: url(../mainResources/fonts/Nunito-Regular.ttf);
}

* {
    font-family: texts;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    transition: all 2s ease-in-out;
    width: 350px;
    position: absolute;
}

#covers {
    width: 350px;
    height: 350px;
    position: relative;
    overflow-x: hidden;
}

#navigation {
    display: flex;
    justify-content: space-between;
}

#navigation p {
    cursor: pointer;
}

#Madonna1_list li {
    font-style: italic;
}

.Mozart_cover {
    left: 350px;
}

#Mozart1_list {
    display: none;
}

#Mozart1_list li {
    font-style: italic;
}
