body {
    text-align: center;
    display: flex;
    justify-content: center;
}

main {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    width: 400px;
}

card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 5px;
}