* {
    font-family: texts;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: texts;
    src: url(../mainResources/fonts/DMSans-Regular.ttf);
}

body {
    background-color: rgba(176, 196, 222, 0.1);
}

main {
    display: flex;
    margin: 50px;
}

#words-list {
    list-style: none;
}

#words-list li {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#words-list-div {
    width: 30vw;
}

#words-list li:hover {
    background-color: lightsalmon;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.05);
}

#traduction-window {
    margin-left: 4vw;
    height: 50vh;
    width: 50vw;
    box-shadow: 15px 15px 15px lightblue;
    border-radius: 15px;
    padding-left: 4vw;
    position: sticky;
    top: 20px;
    background-color: rgba(176, 196, 222, 0.2);
}

.titles {
    font-size: 9pt;
    font-style: italic;
    margin-top: 5px;
}

.element-word {
    color: mediumseagreen;
}

.element-traduction {
    font-weight: bold;
}