.terror_serieB {
    background-image: url(../mainResources/pictures/terror_serieB.png);
    background-size: 100%;
}

.terror_deculto {
    background-image: url(../mainResources/pictures/terror_deculto.png);
    background-size: 100%;
}

.terror_sobrenatural {
    background-image: url(../mainResources/pictures/terror_sobrenatural.png);
    background-size: 100%;
}

.terror_vampiros {
    background-image: url(../mainResources/pictures/terror_vampiros.png);
    background-size: 100%;
}

.terror_hombreslobo {
    background-image: url(../mainResources/pictures/terror_hombreslobo.png);
    background-size: 100%;
}

.terror_cienciaficcion {
    background-image: url(../mainResources/pictures/terror_cienciaficcion.png);
    background-size: 100%;
}

.terror_tv {
    background-image: url(../mainResources/pictures/terror_tv.png);
    background-size: 100%;
}

.terror_adolescente {
    background-image: url(../mainResources/pictures/terror_adolescente.png);
    background-size: 100%;
}