.terror {
    background-image: url(../mainResources/pictures/terror.png);
    background-size: 100%;
}

.international {
    background-image: url(../mainResources/pictures/internacional.png);
    background-position: 70% 10%;
    background-size: 120%;
    font-size: 11pt;
}

.accion {
    background-image: url(../mainResources/pictures/accion.png);
    background-size: 100%;
}

.belica {
    background-image: url(../mainResources/pictures/belica.png);
    background-size: 100%;
}

.comedia {
    background-image: url(../mainResources/pictures/comedia.png);
    background-size: 100%;
}

.drama {
    background-image: url(../mainResources/pictures/drama.png);
    background-size: 100%;
}