.scifi_clasicas {
    background-image: url(../mainResources/pictures/scifi_clasicas.png);
    background-size: 100%;
}

.scifi_culto {
    background-image: url(../mainResources/pictures/scifi_culto.png);
    background-size: 100%;
}

.scifi_ciencia {
    background-image: url(../mainResources/pictures/scifi_ciencia.png);
    background-size: 100%;
}

.scifi_extraterrestres {
    background-image: url(../mainResources/pictures/scifi_extraterrestres.png);
    background-size: 100%;
}

.scifi_accion {
    background-image: url(../mainResources/pictures/scifi_accion.png);
    background-size: 100%;
}

.scifi_fantasticas {
    background-image: url(../mainResources/pictures/scifi_fantasticas.png);
    background-size: 100%;
}

.scifi_independientes {
    background-image: url(../mainResources/pictures/scifi_independientes.png);
    background-size: 100%;
}

.scifi_tv {
    background-image: url(../mainResources/pictures/scifi_tv.png);
    background-size: 100%;
}

