body {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: texts;
}

@font-face {
    font-family: texts;
    src: url(../mainResources/fonts/Montserrat-Regular.ttf);
}

main {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    cursor: pointer;
}

card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
}

section {
    width: 400px;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

card:hover {
    background-color: rgb(229, 240, 128);
}

a {
    display: contents;
    text-decoration: none;
    color: black;
}

.terror {
    background-image: url(../mainResources/pictures/terror.png);
    background-size: 100%;
}

.international {
    background-image: url(../mainResources/pictures/internacional.png);
    background-position: 70% 10%;
    background-size: 120%;
    font-size: 11pt;
}

.accion {
    background-image: url(../mainResources/pictures/accion.png);
    background-size: 100%;
}

.belica {
    background-image: url(../mainResources/pictures/belica.png);
    background-size: 100%;
}