body {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: texts;
}

@font-face {
    font-family: texts;
    src: url(../mainResources/fonts/Montserrat-Regular.ttf);
}

main {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    cursor: pointer;
}

card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 5px;
}

section {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


card:hover {
    background-color: lightcoral;
}



.international_spanish{
    background-image: url(../mainResources/pictures/española.png);
}

.international_french{
    background-image: url(../mainResources/pictures/francesa.png);
    background-position: 150px 150px;
}

.international_italian{
    background-image: url(../mainResources/pictures/italiana.png);
    background-position: 50% 10%;
    background-size: 80%;
}

.international_belgian{
    background-image: url(../mainResources/pictures/belga.png);
    background-position: 50% 10%;
}

.international_german{
    background-image: url(../mainResources/pictures/alemana.png);
    background-position: 70% 10%;
}
.international_russian{
    background-image: url(../mainResources/pictures/rusa.png);
    background-position: 70% 50%;
}

.international_nordic{
    background-image: url(../mainResources/pictures/nordicas.png);
}

.international_arab{
    background-image: url(../mainResources/pictures/arabes.png);
    background-position: 50% 50%;
}
