* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: texts;
}

@font-face {
    font-family: texts;
    src: url(../mainResources/fonts/Montserrat-Regular.ttf);
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

#orihuela,
#orihuela_ida,
#orihuela_vuelta,
#button_orihuela_ida,
#button_orihuela_vuelta {
    display: none;
}

#santapola,
#santapola_ida,
#santapola_vuelta,
#button_santapola_ida,
#button_santapola_vuelta {
    display: none;
}

#torrevieja,
#torrevieja_ida,
#torrevieja_vuelta,
#button_torrevieja_ida,
#button_torrevieja_vuelta {
    display: none;
}

#murcia,
#murcia_ida,
#murcia_vuelta,
#button_murcia_ida,
#button_murcia_vuelta {
    display: none;
}

table {
    width: 380px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

button {
    padding: 5px;
    width: 380px;
    margin: 10px;
    box-shadow: 5px 5px 10px lightblue;
}

td {
    width: 380px;
}

td:hover {
    background-color: rgba(240, 128, 128, 0.5);
}

th:hover {
    background-color: rgba(153, 37, 37, 0.5);
}
