@font-face {
    font-family: texts;
    src: url(../mainResources/fonts/Nunito-Regular.ttf);
}

* {
    font-family: texts;
}

.clock {
    display: flex;
    flex-wrap: wrap;
}

.utc {
    font-size: 7pt;
}

.remark {
    background-color: lightsalmon;
}

.clocks {
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 15px 15px 10px lightcoral;
    border-radius: 10px;
}

#button_reload {
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 15px 15px 10px lightcoral;
    border-radius: 10px;
}