body {
    display: flex;
    justify-content: center;
}

#cloud-container {
    width: 400px;
    flex-wrap: wrap;
}

main {
    text-align: center;
}

button {
    width: 110px;
    height: 110px;
    padding: 0px;
    margin: 5px;
    cursor: pointer;
}

#image-container {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

img {
    width: 90px;
    height: 90px;
}

@media (width < 450px) {
    #cloud-container {
        width: 200px;
        flex-wrap: wrap;
        margin: 10px;
    }

    button {
        width: 160px;
        height: 160px;
    }

    #image-container {
        width: 180px;
        height: 180px;
        border-radius: 5px;
        margin: 10px;
    }
}